---
import Layout from "~/layouts/PageLayout.astro";

import Header from "~/components/widgets/Header.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Features3 from "~/components/widgets/Features3.astro";
import Testimonials from "~/components/widgets/Testimonials.astro";
import HeroCasaNegrano from "~/components/widgets/HeroCasaNegrano.astro";
// import CalendarForm from '~/components/widgets/CalendarForm.jsx';

// import BookingWidgetWrapper from '~/components/booking/BookingWidgetWrapper.astro';
// import AvailabilityChecker from "~/components/booking/AvailabilityChecker";
import Intro from "~/components/home/intro.astro";
import Bilocale from "~/components/home/bilocale.astro";
import Trilocale from "~/components/home/trilocale.astro";
import SuiteDelux from "~/components/home/suiteDelux.astro";

const metadata = {
  title:
    "Casa Negrano - Holiday Housing - Appartamenti / Casa vacanze a Trento",
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      id="header"
      links={[
        { text: "Home", href: "#" },
        { text: "Su di noi", href: "#about" },
        { text: "Appartamenti", href: "#bilocale" },
        { text: "I nostri comfort", href: "#comfort" },
        { text: "Testimonianze", href: "#testimonianze" },
      ]}
      actions={[
        {
          text: "Contattaci",
          href: "#contact",
        },
      ]}
      isSticky
    />
  </Fragment>

  <HeroCasaNegrano id="about"/>

  <!-- <div class="m-4 md:relative md:z-10 md:translate-y-[50%] flex justify-center">
    <AvailabilityChecker client:idle />
  </div> -->

  <Intro />

  <div id="bilocale" class="flex flex-col gap-24 bg-[#d7edff]">
    <div class="text-center flex flex-col gap-4 pt-12 md:pt-16">
      <div class="text-3xl md:text-4xl font-bold">I nostri appartamenti</div>
      <div class="text-xl">
        Scegli la soluzione che fa per te, per un soggiorno indimenticabile a
        Trento.
      </div>
    </div>

    
    <Bilocale />

    <Trilocale />

    <SuiteDelux />
  </div>

  <Features3
    id="comfort"
    title="I nostri Comfort"
    subtitle="Tutto ciò che serve per un soggiorno senza pensieri."
    columns={3}
    defaultIcon="tabler:wifi"
    items={[
      {
        title: "WiFi ad alta velocità",
        description:
          "Rimani sempre connesso con una connessione veloce e stabile, ideale per lavorare da remoto o per lo streaming dei tuoi contenuti preferiti.",

        icon: "tabler:wifi",
      },
      {
        title: "Parcheggio in struttura",
        description:
          "Parcheggia comodamente la tua auto nella nostra struttura, senza pensieri e senza costi aggiuntivi.",
        icon: "tabler:parking-circle",
      },
      {
        title: "Check-in flessibile a partire dalle 16:00",
        description:
          "Arriva quando vuoi dalle 16:00 in poi, hai la libertà di scegliere l'orario di arrivo più comodo per te. Check-out alle 10:00.",
        icon: "tabler:door-enter",
      },
      {
        title: "Riscaldamento e raffrescamento a pavimento",
        description:
          "Il massimo del comfort termico in ogni stagione, per un ambiente sempre alla temperatura ideale.",
        icon: "tabler:air-conditioning",
      },
      {
        title: "Cucina ben attrezzata",
        description:
          "Ogni appartamento dispone di una cucina completa, dotata di tutto il necessario per preparare e gustare i tuoi pasti preferiti.",
        icon: "tabler:tools-kitchen",
      },
      {
        title: "Balcone privato",
        description:
          "Goditi la vista e l'aria fresca dal balcone del tuo appartamento, perfetto per un momento di relax all'aperto.",
        icon: "tabler:building-bridge-2",
      },
      {
        title: "Biancheria e asciugamani inclusi",
        description:
          "Troverai tutto ciò di cui hai bisogno per un soggiorno confortevole, con biancheria e asciugamani forniti per ogni ospite.",
        icon: "tabler:bed",
      },
      {
        title: "Ascensore",
        description:
          "Il nostro ascensore offre un accesso facile e comodo a tutti gli appartamenti, garantendo un soggiorno senza ostacoli per famiglie, coppie e ospiti con mobilità ridotta.",
        icon: "tabler:elevator",
      },
      {
        title: "Cassaforte",
        description:
          "Per la tua sicurezza, ogni appartamento è dotato di una cassaforte per riporre i tuoi oggetti di valore in tutta tranquillità.",
        icon: "tabler:lock",
      },
    ]}
  />

  <Testimonials
    id="testimonianze"
    title="Le testimonianze"
    subtitle="Scopri cosa dicono di noi i nostri ospiti."
    testimonials={[
      {
        testimonial: `Casa moderna con ascensore e parcheggio, dotata di tutto il necessario e anche di più! C'è addirittura un adattatore per caricare qualsiasi tipo di cellulare. Franco e la moglie sono molto disponibili. La doccia è enorme e il materasso è comodissimo. Consigliatissimo!`,
        name: "Sara",
      },
      {
        testimonial: `Molto pulito e di nuova qualità. Cucina ben attrezzata, c'è tutto! Materassi molto comodi. Tutto impeccabile! Proprietari molto gentili, sempre disponibili e che si sono fatti sentire da soli. Ci torneremmo subito! Siamo stati entusiasti. - Tradotto dal tedesco`,
        name: "Sebastian",
      },
      {
        testimonial: `Appartamento grande e pulito. Tutto nuovo e ben organizzato. Confortevole`,
        name: "Giuseppina",
      },
      {
        testimonial: `Struttura nuova e ben curata, proprietari deliziosi, ci torneremo sicuramente, consigliatissima!`,
        name: "Alessandro",
      },
      {
        testimonial: `Stupenda esperienza. Il padrone di casa di una gentilezza e disponibilità eccezionali. Torneremo di sicuro!!!`,
        name: "Giuseppe",
      },
      {
        testimonial: `Casa moderna con ascensore e parcheggio, dotata di tutto il necessario e anche di più! C'è addirittura un adattatore per caricare qualsiasi tipo di cellulare. Franco e la moglie sono molto disponibili. La doccia è enorme e il materasso è comodissimo. Consigliatissimo!`,
        name: "Sara",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="contact"
    title="Non aspettare, prenota ora la tua prossima vacanza!"
    subtitle="Hai qualche richiesta particolare o qualche domanda?"
    actions={[
      {
        variant: "primary",
        text: "Contattaci",
        href: "/contact",
      },
    ]}
  />
</Layout>
