---
import Layout from '~/layouts/Layout.astro';
import { getHomePermalink } from '~/utils/permalinks';

const title = `Error 404`;
---

<Layout metadata={{ title }}>
  <section class="flex items-center h-full p-16 bg-luxury-white">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-heading font-medium text-9xl text-luxury-black">
          <span class="sr-only">Error</span>
          <span class="text-luxury-gold">404</span>
        </h2>
        <p class="text-3xl font-medium md:text-3xl text-luxury-black">Sorry, we couldn't find this page.</p>
        <p class="mt-4 mb-8 text-lg text-luxury-graphite">
          But dont worry, you can find plenty of other things on our homepage.
        </p>
        <a rel="noopener noreferrer" href={getHomePermalink()} class="btn-primary ml-4">Back to homepage</a>
      </div>
    </div>
  </section>
</Layout>
