---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import CalendarForm from '~/components/widgets/CalendarForm';
import Features2 from '~/components/widgets/Features2.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'Casa Negrano - Holiday Housing - Appartamenti / Casa vacanze a Trento',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '/' },
        { text: 'Su di noi', href: '#about' },
        { text: 'Appartamenti', href: '#bilocale' },
        { text: 'I nostri comfort', href: '#comfort' },
        { text: 'Testimonianze', href: '#testimonianze' },
        // { text: 'Github', href: 'https://github.com/onwidget' },
      ]}
      actions={[
        {
          text: 'Contattaci',
          href: '#contact',
        },
      ]}
      isSticky
    />
  </Fragment>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contatti" title="Mettiamoci in contatto!" />

  <div
    class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none dark:border dark:border-slate-600"
  >
    <CalendarForm client:idle />
  </div>

  <!-- Features2 Widget ************** -->
  <Features2
    title="Ecco come trovarci!"
    items={[
      {
        title: 'Email',
        description: 'casanegrano@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Posizione',
        description: 'Località Negrano 13, Trento, 38123, Italy',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
