---
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
<svg class="w-[45%] md:w-[90%] mx-auto" width="377" height="78" viewBox="0 0 377 78" fill="none" xmlns="http://www.w3.org/2000/svg">
  <mask id="mask0_5_2" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="377" height="78">
  <path d="M0 0H377V77.8333H0V0Z" fill="white"/>
  </mask>
  <g mask="url(#mask0_5_2)">
  <path d="M375.094 73.5833C342.146 73.5833 316.5 59.4636 297.781 49.1615C285.922 42.6302 276.552 37.4688 268.536 37.1563C249.964 36.4063 231.036 42.5833 214.203 49.974C207.948 45.6875 201.578 41.1667 195.245 36.6615C173.87 21.474 151.766 5.75001 135.719 0.81251C135.672 0.791677 135.609 0.791677 135.552 0.786469C135.521 0.776051 135.495 0.776051 135.464 0.765635C128.333 -1.11457 115.797 8.76564 96.9219 23.6719C70.2552 44.7344 33.7292 73.5833 1.88021 73.5833C0.838542 73.5833 0 74.4219 0 75.4531C0 76.4948 0.838542 77.3281 1.88021 77.3281C35.026 77.3281 72.1406 48.0208 99.25 26.625C114.589 14.5 129.073 3.06772 134.432 4.37501C145.953 12.0417 148.51 17.3229 148.609 20.4011C148.688 22.7969 147.37 24.9896 144.589 27.0886C136.016 33.5573 131.313 41.8177 131.354 50.349C131.396 58.2136 135.62 65.6615 143.25 71.3021C148.917 75.4792 154.099 77.4167 159.781 77.4167C160.505 77.4167 161.234 77.3906 161.984 77.3229C168.885 76.7396 178.854 71.6354 191.479 65.1771C198.214 61.724 205.766 57.8698 213.807 54.2708C233.406 67.625 251.146 77.9375 263.797 77.9375C265.635 77.9375 267.365 77.724 268.969 77.2604C276.167 75.224 284.339 70.125 285.688 61.9011C286.422 57.3698 285.115 50.6354 276.177 42.6615C281.813 44.6875 288.349 48.2552 295.969 52.4427C315.047 62.9427 341.182 77.3281 375.094 77.3281C376.125 77.3281 376.969 76.4948 376.969 75.4531C376.969 74.4219 376.135 73.5833 375.094 73.5833ZM189.771 61.8333C178 67.8594 167.833 73.0625 161.667 73.5833C156.016 74.0573 151.156 72.4844 145.484 68.2865C138.729 63.2969 135.141 57.0833 135.109 50.3281C135.073 43.0156 139.24 35.8177 146.849 30.0729C150.625 27.2344 152.474 23.9323 152.354 20.2813C152.25 16.8594 150.37 13.3021 146.76 9.53647C160.536 16.5833 177.005 28.2969 193.073 39.7188C198.865 43.8386 204.599 47.9115 210.193 51.7761C202.865 55.1458 195.974 58.6667 189.771 61.8333ZM281.979 61.2917C280.917 67.7813 273.76 72 267.948 73.6511C257.073 76.7188 238.323 66.2604 217.87 52.4844C233.573 45.7761 250.927 40.4011 267.839 40.9011C278.094 48.0104 283 55.0573 281.979 61.2917Z" fill="#3D3131"/>
  </g>
  </svg>
  
</span>
