---
import { Image } from 'astro:assets';
import logoImage from '~/assets/images/logo.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image
    src={logoImage}
    alt="Casa Vacanze Ianes"
    class="w-[45%] md:w-[90%] mx-auto"
    widths={[200, 400]}
    sizes="(max-width: 768px) 45vw, 90vw"
  />
</span>
