---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <!-- <slot name="announcement">
    <Announcement />
  </slot> -->
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var script = document.createElement('script');
      script.id = 'Cookiebot';
      script.src = 'https://consent.cookiebot.com/uc.js';
      script.setAttribute('data-cbid', '30c2bb46-8783-403f-8dbf-1a270b029e27');
      script.setAttribute('data-blockingmode', 'auto');
      script.type = 'text/javascript';
      document.body.appendChild(script);
    });
  </script>
</Layout>
